# Android
*.iml
.gradle/
/local.properties
/.idea/
/build/
/app/build/
/captures
.externalNativeBuild/
.cxx/

# Secrets
*.keystore
*.jks
.env
local.properties
google-services.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
